@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css">*@


<h1 style="text-align:center; margin-top:100px; padding-bottom:10px;">Employee Login</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-box">
                <form id="loginForm" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Enter email">
                        </div>
                        <span class="text-danger" id="emailError"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <span class="text-danger" id="passwordError"></span>

                    </div>
                    <span class="text-danger" id="Error"></span>
                    <button type="submit" id="loginButton" class="btn btn-primary btn-block">Login</button>
                </form>
                <div id="loginMessage" class="mt-3 text-center"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>*@

<script src="~/js/Login.js"></script>

<style>
    .login-box {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
       
  
    }
    #loginButton{
        margin-top:10px;
    }

</style>
